html,body{
    height: 100%;
    background-color: #fff !important;
}

.global-container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color:black;
    

    
}

.login-form{
    width: 380px;
    height: 420px;
    padding: 20px;
    background-color: #fff !important;
    border-radius: 10px !important;
    
   
}

input[type="email"], 
input[type="text"]{
    background: #fff;
    color: #fff;
    border-radius: 10px;
    margin-bottom: 25px;
    
}

input[type="email"]:focus, 
input[type="text"]:focus{
     outline: none;
     border: none;
     background: #fff;
     color: #fff;
     margin: 0;
}

.card-title{
    font-weight: 900;
    padding-top: 20px;

}

.btn{
    background: blueviolet!important;
    color: #000 !important;
    transform: translateY(10px);
    font-size: 14px;
    border-radius: 10px !important;
}